.small-container-light,
.small-container-dark,
.close-svg{
  display: none;
}
.small-container-light,
.small-container-light svg{
  color: #2E2E2E;
}
.small-container-dark,
.small-container-dark svg{
  color: #CCFFCC;
}
.nav-container-light,
.nav-container-dark{
  padding: 1.778rem 1.333rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  gap: 1.333rem;
  top: 0;
  left: 0;
  width: 16.944rem;
  height: 100vh;
  z-index: 100;
}
.nav-container-light{
  background: #CCFFCC;
  color: #2E2E2E;
}
.nav-container-dark{
  background: #1B3B31;
  color: #CCFFCC;
}